@import '../scss/main';

.filter {
    font-size: 11pt;
    margin: 0 15px;
    padding: 0 30px;
    color: #fff;
}

.blogTitle {
    color: $textColor;
    font-weight: bold;
    font-size: 1.25em;
}

.blogDate {
    color: black;
    font-size: .75em;
}

.blogDate::after {
    content: '';
    display: block;
    margin: 10px 0;
    width: 25%;
    height: 3px;
    background: $primary;
}

.blogDescription {
    color: black;
    font-size: .90em;
}
