@import '../scss/main';

$hexColor: #04c2c9;
$hexWidth: 100px;
$hexHeight: 60px;

.label {
  font-size: 14pt;
  font-weight: 500;
  color: $textColor;
}

.textContainer {
  text-align: center;
  font-size: 10pt;
  color: $textColor;
  height: 125px;
}

.hexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px
}

.hexagon {
  width: $hexWidth;
  height: $hexHeight;
  background: $hexColor;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid $hexColor;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid $hexColor;
}

.fontawesome {
  color: white;
  font-size: 55px;
  line-height: 60px;
  align-self: flex-end;
  padding-bottom: 5px;
}