@import '../scss/main';

$hexColor: #04c2c9;
$hexWidth: 80px;
$hexHeight: calc(#{$hexWidth} / 1.73);

.label {
  font-size: 14pt;
  font-weight: 500;
  color: $textColor;
}

.textContainer {
  text-align: center;
  font-size: 10pt;
  color: $textColor;
}

.hexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: calc(#{$hexHeight} / 2);
}

.hexagon {
  position: relative;
  width: $hexHeight;
  height: $hexWidth;
  background: $hexColor;
  margin-left: calc(#{$hexWidth} / 3.4);
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-top: calc(#{$hexWidth} / 2) solid transparent;
  border-bottom: calc(#{$hexWidth} / 2) solid transparent;
}

.hexagon::before {
  left: 100%;
  border-left: calc(#{$hexHeight} / 2) solid $hexColor;
}

.hexagon::after {
  right: 100%;
  border-right: calc(#{$hexHeight} / 2) solid $hexColor;
}