.module {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.title {
    margin: 0;
    padding-top: .5em;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 700;
}