@import '../scss/main';

.projectGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 15vw;
  margin-left: 15vw;
}

@media(max-width:540px){
  .projectGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}