@import '../scss/main';

.filter {
    font-size: 11pt;
    margin: 0 15px;
    padding: 0 30px;
    color: #fff;
}

.projects {
    background-color: $offwhite;
}


.projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 15vw;
    margin-left: 15vw;
}

.test {
    background-color: blue;
    height: 250px;
    width: 250px;
}

.test1 {
    @extend .test;
    background-color: red;
}


.test2 {
    @extend .test;
    background-color: green;
}


.test3 {
    @extend .test;
    background-color: yellow;
}

@media(max-width:540px){
    .projectGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}
